* {
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

ul {
    list-style-type: none;
}

li {
    font-size: 0.6rem;    
    font-weight: 500;
}

a {
    text-decoration: none;
}
/*-----------------------------HEADER---------------------------------*/

.headerContainer {
    display: flex; 
    flex-direction: column;
    align-items: center;
    border-bottom-style: outset;
    border-color: #c8d1d1;
    margin: 0rem 2rem;
}

.navegador-logo-container {
    height: 8.4rem;
}

.navegador-logo {
    height: 9rem;
    width: 9rem;
}

.navegador-menu {
    display: flex;
    gap: 0.8rem;
}

/*-----------------------------FOOTER---------------------------------*/
.footer {
    border-color: #c8d1d1;
    border-top-style: outset;
    display: grid;  
    grid-gap: 2rem;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 1rem;
}

.footer-logo-image {
    display: none;
}

#footerSectionOne, #footerSectionTwo {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
}

.footer-logos {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: white;
    height: 3.5rem;
    width: 3.5rem;
}

.circle img  {
    height: 1.5rem;
    background-color: white;
}

.footer-social-media {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    border-top-style: outset;
    border-color: #c8d1d1;
    padding: 1rem;
    margin: 1rem 1rem 0rem 1rem;
}

@media (min-width: 768px) and (max-width: 1023px) {

    li {
        font-size: 1rem;    
    }
    /*-----------------------------HEADER---------------------------------*/
    .headerContainer {
        flex-direction: row;
        justify-content: space-between;
        margin: 0rem 5rem;
    }

    .navegador-logo-container {
        height: 10rem;
    }

    .navegador-logo {
        height: 10rem;
        width: 10rem;
    }

    .navegador-menu {
        gap: 1.4rem;
    }
    /*-----------------------------FOOTER---------------------------------*/
    .footer {
        grid-template-columns: repeat(3,1fr);
        align-items: center;
    }

    .footer-logo-image {
        width: 14rem;
        display: block;
    }

    .circle {
        height: 4rem;
        width: 4rem;
    }
    
    .circle img  {
        height: 2rem;
    }

    .footer-social-media {
        grid-column-start: 1;
        grid-column-end: 4;
    }
}

@media (min-width: 1024px) {

    li {
        font-size: 1.3rem;    
    }
    /*-----------------------------HEADER---------------------------------*/
    .headerContainer {
        flex-direction: row;
        justify-content: space-between;
        margin: 0rem 5rem;
    }

    .navegador-logo-container {
        height: 12rem;
    }

    .navegador-logo {
        height: 12rem;
        width: 12rem;
    }

    .navegador-menu {
        gap: 2rem;
    }
    /*-----------------------------FOOTER---------------------------------*/
    .footer {
        grid-template-columns: 0.8fr 1.2fr 1.2fr 0.5fr;
        align-items: center;
        padding: 2rem;
    }

    .footer-logo-image {
        width: 15rem;
        display: block;
    }

    .circle {
        height: 4.5rem;
        width: 4.5rem;
    }
    
    .circle img  {
        height: 2.3rem;
    }

    .footer-social-media {
        border-top-style: none;
        flex-direction: column;
        height: 100%;
        width: 0%;
        flex-direction: column;
    }
}