.send_button {
  background-color: black;
  color: white;
  border-radius: 0.5rem;
  height: 2.5rem;
  margin: 1rem;
  width: 35%;
  font-size: 1rem; }

@media (min-width: 768px) and (max-width: 1023px) {
  .send_button {
    font-size: 1.2rem;
    width: 50%; } }
@media (min-width: 1024px) {
  .send_button {
    height: 3rem;
    cursor: url("../imagenes/guante.png"), auto !important;
    font-size: 1.3rem;
    width: 50%; } }
* {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0rem;
  padding: 0rem; }

body {
  color: white;
  width: 100%;
  min-height: 100vh;
  background-color: black; }

p {
  margin: 0rem;
  font-size: 1.2rem;
  font-weight: 500; }

header {
  margin: 0rem 3rem; }

.header_logo {
  width: 8rem;
  height: 8rem; }
.header_icono_menu {
  background-color: white; }
.header_navegador_justify_content {
  justify-content: end; }

nav li {
  border-top: 1px solid; }

.link_actual {
  font-size: 1.3rem;
  font-weight: 800;
  color: black;
  background-color: white; }
.link_item {
  font-size: 1rem;
  font-weight: 500;
  color: white; }

@media (min-width: 768px) and (max-width: 1023px) {
  header {
    margin: 1rem 2rem; }

  .header_logo {
    width: 10rem;
    height: 10rem; }
  .header_navegador_elements_gap {
    gap: 1rem; }

  nav li {
    border-top: none; }

  .link_actual {
    font-size: 1.1rem;
    font-weight: 800;
    border-radius: 5rem; } }
@media (min-width: 1024px) {
  .header_logo {
    width: 12rem;
    height: 12rem;
    cursor: url("../imagenes/guante.png"), auto; }
  .header_navegador_elements_gap {
    gap: 2.5rem; }

  nav li {
    border-top: none; }

  .link_actual {
    font-size: 1.3rem;
    font-weight: 800;
    border-radius: 5rem;
    cursor: url("../imagenes/guante.png"), auto; }
  .link_item {
    font-size: 1.1rem;
    font-weight: 500;
    cursor: url("../imagenes/guante.png"), auto;
    border-radius: 20rem; }
    .link_item:hover {
      background-color: white;
      color: black;
      border-radius: 20rem; } }
.footer {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr;
  justify-items: center;
  margin: 2rem 3rem;
  grid-area: footer; }
  .footer_logo {
    display: none; }
  .footer_sections {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem; }
    .footer_sections p {
      font-size: 1rem;
      font-weight: 500; }
    .footer_sections_logos {
      display: flex;
      justify-content: space-around;
      width: 100%; }
  .footer_social_media {
    align-items: center;
    border-color: #c8d1d1;
    border-top-style: outset;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0rem 1rem 0rem 1rem;
    padding: 1rem;
    width: 100%; }
  .footer_contact {
    align-items: center;
    display: flex;
    flex-direction: column; }

.circle {
  align-items: center;
  background: white;
  border-radius: 100%;
  display: flex;
  height: 3.5rem;
  justify-content: center;
  width: 3.5rem; }
  .circle img {
    height: 1.8rem; }

#footerSectionOne, #footerSectionTwo {
  align-items: center;
  border-style: outset;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
  padding: 2rem;
  width: 85%; }

iframe {
  height: 15rem;
  width: 90%; }

@media (min-width: 768px) and (max-width: 1023px) {
  .footer {
    grid-template-columns: 0.5fr 1fr 1fr;
    align-items: center;
    grid-gap: 1.5rem;
    margin: 0rem 2rem;
    padding: 2rem 0rem; }
    .footer_logo {
      width: 10rem;
      display: block; }
    .footer_sections {
      gap: 1rem; }
      .footer_sections_logos {
        display: flex;
        justify-content: space-around;
        width: 100%; }
    .footer_social_media {
      grid-column-start: 1;
      grid-column-end: 4; }
    .footer_contact {
      flex-direction: row;
      gap: 1rem;
      margin: 0rem 1rem 1rem 1rem; } }
@media (min-width: 1024px) {
  .footer {
    grid-template-columns: 0.8fr 1.2fr 1.2fr 0.5fr;
    align-items: center;
    padding: 2rem;
    margin: 1rem 2rem; }
    .footer_logo {
      width: 12rem;
      display: block; }
    .footer_sections {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 1rem; }
      .footer_sections p {
        font-size: 1.1rem;
        font-weight: 500; }
      .footer_sections_logos {
        display: flex;
        justify-content: space-around;
        width: 100%; }
    .footer_social_media {
      border-top-style: none;
      flex-direction: column;
      height: 100%;
      flex-direction: column; }
    .footer_contact {
      flex-direction: row;
      gap: 1rem;
      margin: 0rem 1rem 1rem 1rem; }

  .circle {
    height: 3.7rem;
    width: 3.7rem; }
    .circle img {
      height: 2rem; } }
.disciplines {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem; }
  .disciplines div {
    border: 2px solid;
    border-color: #b46500;
    display: flex;
    flex-direction: column;
    width: 85%; }
  .disciplines a {
    font-size: 1.3rem;
    font-weight: 500;
    align-items: center;
    background-color: #b46500;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.7rem;
    text-decoration: none; }

.benefit {
  position: relative; }
  .benefit_image {
    background-image: url("../imagenes/discipline_section_menu_background_small.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2px);
    height: calc(100vh - 74vh);
    opacity: 0.9; }
  .benefit_text {
    background-color: rgba(0, 0, 0, 0.4);
    border: 3px solid #f1f1f1;
    left: 50%;
    padding: 0.8rem;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%; }
    .benefit_text p {
      font-size: 0.8rem; }

@media (min-width: 768px) and (max-width: 1023px) {
  .disciplines {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    gap: 2rem;
    grid-template-areas: ". ." ". ." "LastImage LastImage"; }
    .disciplines div {
      width: 20rem; }

  .lastImage {
    grid-area: LastImage; }

  .disciplines div {
    width: 20rem; }

  .benefit_image {
    background-image: url("../imagenes/discipline_section_menu_background_medium.png"); } }
@media (min-width: 1024px) {
  .disciplines {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    gap: 2rem;
    grid-template-areas: ". ." ". ." "LastImage LastImage"; }
    .disciplines div {
      width: 26rem; }

  .lastImage {
    grid-area: LastImage; }

  .benefit_image {
    background-image: url("../imagenes/discipline_section_menu_background_large.png"); } }
@media (min-width: 1400px) {
  .disciplines {
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    gap: 2rem;
    grid-template-areas: ". ." ". ." ". ."; }
    .disciplines div {
      width: 26rem; }

  .noLastImage {
    grid-area: 2 / 1 / 3 / 3; }

  .lastImage {
    grid-area: 2 / 2 / 3 / 4; } }
.bienvenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 2rem; }
  .bienvenido div {
    display: flex;
    flex-direction: column;
    gap: 1rem; }
  .bienvenido img {
    width: 100%; }
  .bienvenido p {
    font-size: 1rem;
    font-weight: 500; }

.staff {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem; }
  .staff div {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    height: calc(100vh - 74vh);
    margin: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-color: #b46500; }
  .staff img {
    margin: 0.6rem;
    width: 12rem;
    border-radius: 25rem;
    border: 1px solid;
    border-color: #b46500; }
  .staff p {
    font-size: 1.2rem;
    font-weight: 800;
    border-radius: 20px;
    background-color: white;
    width: 10rem;
    border: 1px solid;
    color: #b46500;
    opacity: 0.7;
    text-align: center; }
  .staff_entrenador_uno {
    background-image: url("../imagenes/staff_entrenador_uno_background_small.png"); }
  .staff_entrenador_dos {
    background-image: url("../imagenes/staff_entrenador_dos_background_small.png"); }
  .staff_entrenador_tres {
    background-image: url("../imagenes/staff_entrenador_tres_background_small.png"); }

@media (min-width: 768px) and (max-width: 1023px) {
  .staff div {
    height: calc(100vh - 60vh); }
  .staff img {
    width: 17rem; }
  .staff p {
    font-size: 1.3rem;
    font-weight: 500; }
  .staff_entrenador_uno {
    background-image: url("../imagenes/staff_entrenador_uno_background_medium.png"); }
  .staff_entrenador_dos {
    background-image: url("../imagenes/staff_entrenador_dos_background_medium.png"); }
  .staff_entrenador_tres {
    background-image: url("../imagenes/staff_entrenador_tres_background_medium.png"); } }
@media (min-width: 1024px) {
  .bienvenido {
    gap: 2rem;
    margin: 3rem 2rem; }
    .bienvenido div {
      flex-direction: row;
      gap: 2rem; }
    .bienvenido p {
      font-size: 1.2rem;
      font-weight: 500; }

  .staff {
    display: grid;
    margin: 0rem 2rem;
    align-content: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0rem 1rem;
    grid-template-areas: "staff_header staff_header staff_header" "staff_entrenador_uno staff_entrenador_dos staff_entrenador_tres"; }
    .staff div {
      height: calc(100vh - 64vh);
      width: 100%;
      margin: 0rem; }
    .staff img {
      width: 14rem; }
    .staff p {
      font-size: 1.2rem;
      font-weight: 500; }
    .staff_header {
      grid-area: staff_header;
      margin-bottom: 2rem; }
    .staff_entrenador_uno {
      grid-area: staff_entrenador_uno;
      background-image: url("../imagenes/staff_entrenador_uno_background_large.png"); }
      .staff_entrenador_uno:hover {
        opacity: 0.8; }
    .staff_entrenador_dos {
      grid-area: staff_entrenador_dos;
      background-image: url("../imagenes/staff_entrenador_dos_background_large.png"); }
      .staff_entrenador_dos:hover {
        opacity: 0.8; }
    .staff_entrenador_tres {
      grid-area: staff_entrenador_tres;
      background-image: url("../imagenes/staff_entrenador_tres_background_large.png"); }
      .staff_entrenador_tres:hover {
        opacity: 0.8; } }
.disciplinas {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 1rem; }
  .disciplinas_sections {
    border: 1px solid;
    margin: 0.5rem 3rem;
    border-color: #b46500; }
  .disciplinas img {
    width: 100%;
    border-bottom: 1px solid;
    border-color: #b46500; }
  .disciplinas_titulo {
    font-size: 1.3rem;
    font-weight: 500;
    background-color: #b46500;
    padding: 0.5rem;
    text-align: center; }
  .disciplinas_explicacion {
    font-size: 1.1rem;
    font-weight: 500;
    padding: 1rem; }
  .disciplinas_imagenes {
    border-top: 1px solid;
    border-color: #b46500; }
    .disciplinas_imagenes_grande {
      display: none; }

@media (min-width: 768px) and (max-width: 1023px) {
  .disciplinas_sections {
    margin: 0.5rem 3rem; }
  .disciplinas_titulo {
    font-size: 1.3rem;
    font-weight: 500; }
  .disciplinas_explicacion {
    font-size: 1.1rem;
    font-weight: 500;
    padding: 1rem; }
  .disciplinas_imagenes {
    display: none; }
    .disciplinas_imagenes_grande {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      padding: 1rem; }
      .disciplinas_imagenes_grande img {
        border: 1px solid;
        border-color: #b46500; } }
@media (min-width: 1024px) {
  .disciplinas_sections {
    margin: 0.5rem 5rem; }
  .disciplinas_titulo {
    font-size: 1.5rem;
    font-weight: 500; }
  .disciplinas_explicacion {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 1rem; }
  .disciplinas_imagenes {
    display: none; }
    .disciplinas_imagenes_grande {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      padding: 1rem; }
      .disciplinas_imagenes_grande img {
        border: 1px solid;
        border-color: #b46500; } }
.main_blog {
  display: flex;
  flex-direction: column; }
  .main_blog section {
    margin-top: 1.5rem; }

.blog_post {
  background: white;
  border-radius: 0.7rem;
  border: 1px solid;
  color: black;
  margin: 1rem 2rem;
  padding: 1rem; }
  .blog_post h1 {
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 2rem; }
  .blog_post img {
    width: 100%; }
.blog_contenido {
  font-size: 1rem;
  font-weight: 500;
  margin: 0.7rem 0rem; }
.blog_read_more {
  font-size: 1.3rem;
  font-weight: 500;
  color: #b46500;
  margin: 0.7rem 0rem; }
.blog_pagination {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .blog_pagination a {
    background-color: white;
    border: 1px solid #ddd;
    color: black;
    margin: 0 4px;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s; }
  .blog_pagination a.active {
    background-color: #b46500;
    color: white;
    border: 1px solid #b46500; }

.recientes_header {
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center; }
.recientes div {
  border: 1px solid;
  padding: 1rem;
  margin: 0.5rem 2rem; }
.recientes_post {
  font-size: 0.9rem;
  font-weight: 400; }
  .recientes_post_date {
    font-size: 0.7rem;
    font-weight: 200; }

.busqueda {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .busqueda input[type=text] {
    width: 75%;
    height: 2.5rem;
    padding-left: 1rem;
    border-radius: 20px; }
  .busqueda button {
    position: relative;
    border: none;
    background-color: white;
    right: 2rem; }

::placeholder {
  color: #616161;
  font-size: 0.9rem;
  font-weight: 500; }

.categorias_header {
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center; }
.categorias div {
  border: 1px solid;
  padding: 0.4rem 0.6rem;
  margin: 0rem 2rem; }
  .categorias div p {
    font-size: 0.9rem;
    font-weight: 500;
    text-decoration: underline; }

@media (min-width: 1024px) {
  .main_blog {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    grid-template-rows: 0fr 0.1fr 0.1fr 0.9fr;
    grid-template-areas: "blog busqueda" "blog recientes" "blog categorias" "footer footer"; }

  .blog {
    width: 100%;
    grid-area: blog; }

  .busqueda {
    grid-area: busqueda; }

  .recientes {
    grid-area: recientes; }
    .recientes div {
      padding: 0.7rem; }
    .recientes_header {
      font-size: 1.2rem;
      font-weight: 600;
      text-align: center; }
    .recientes_post {
      font-size: 1rem;
      font-weight: 400; }
      .recientes_post_date {
        font-size: 0.8rem;
        font-weight: 200; }

  .categorias {
    grid-area: categorias; } }
.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem; }
  .main_consultas {
    display: none; }
  .main_form {
    align-items: center;
    background-color: white;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    width: 90%; }
    .main_form_header {
      border-radius: 1.5rem;
      color: black;
      padding: 1rem;
      text-align: center; }
    .main_form input[type=text], .main_form input[type=email], .main_form input[type=tel], .main_form textarea {
      background: #d5d5d5;
      border-radius: 0.5rem;
      border: none;
      margin: 0.5rem;
      padding: 0.5rem;
      width: 70%; }

::placeholder {
  font-size: 0.9rem;
  font-weight: 500;
  color: #616161; }

@media (min-width: 768px) and (max-width: 1023px) {
  .main {
    gap: 2rem;
    justify-content: space-between;
    margin: 2rem; }
    .main_consultas {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
      padding-right: 1rem;
      position: relative;
      top: 4rem; }
      .main_consultas p {
        font-size: 1.2rem;
        text-align: center; }
      .main_consultas a {
        font-size: 1.3rem;
        font-weight: 500;
        color: white; }
    .main_form {
      width: 55rem; }
      .main_form_header {
        border-radius: 1.5rem;
        color: black;
        padding: 1.5rem;
        text-align: center; }
      .main_form input[type=text], .main_form input[type=email], .main_form input[type=tel], .main_form textarea {
        margin: 1rem 2rem;
        padding: 1rem; }

  .circle_contact {
    align-items: center;
    background: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    width: 5rem;
    height: 5rem; }
    .circle_contact img {
      width: 90%; } }
@media (min-width: 1024px) {
  /*-----------------------------MAIN---------------------------------*/
  .main {
    gap: 2rem;
    justify-content: space-around;
    margin: 3rem 4rem; }
    .main_consultas {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
      position: relative;
      top: 4rem; }
      .main_consultas p {
        font-size: 1.3rem;
        text-align: center; }
      .main_consultas a {
        font-size: 1.3rem;
        font-weight: 500;
        color: white;
        cursor: url("../imagenes/guante.png"), auto; }
    .main_form {
      width: 60rem; }
      .main_form_header {
        padding: 2rem;
        font-size: 1.3rem; }
      .main_form input[type=text], .main_form input[type=email], .main_form input[type=tel], .main_form textarea {
        margin: 1rem 2rem;
        padding: 1rem; }

  .circle_contact {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: white;
    height: 5rem;
    width: 5rem; }
    .circle_contact img {
      width: 4.5rem; }

  ::placeholder {
    font-size: 1.2rem; } }

/*# sourceMappingURL=style.css.map */
