.bienvenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 2rem;

    div {
        display: flex;
        flex-direction: column;
        gap: 1rem;

    }
 
    img {
        width: 100%;
    }

    p {
        @include fontSize(1rem, 500);
    }
}

.staff {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;

    div {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 1rem;
        height: calc(100vh - 74vh);
        margin: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid;
        border-color: #b46500;
    }

    img {
        margin: 0.6rem;
        width: 12rem;
        border-radius: 25rem;
        border: 1px solid;
        border-color: #b46500;
    }

    p {
        @include fontSize(1.2rem, 800);
        border-radius: 20px;
        background-color: white;
        width: 10rem;
        border: 1px solid;
        color: #b46500;
        opacity: 0.7;
        text-align: center;
    }

    &_entrenador {

        &_uno {
            background-image: url("../imagenes/staff_entrenador_uno_background_small.png");
        }

        &_dos {
            background-image: url("../imagenes/staff_entrenador_dos_background_small.png");
        }

        &_tres {
            background-image: url("../imagenes/staff_entrenador_tres_background_small.png");
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {

    .staff {
       
        div {
            height: calc(100vh - 60vh);
        }

        img {
            width: 17rem;
        }

        p {
            @include fontSize(1.3rem, 500);
        }
    
        &_entrenador {
    
            &_uno {
                background-image: url("../imagenes/staff_entrenador_uno_background_medium.png");
            }
    
            &_dos {
                background-image: url("../imagenes/staff_entrenador_dos_background_medium.png");
            }
    
            &_tres {
                background-image: url("../imagenes/staff_entrenador_tres_background_medium.png");
            }
        }
    }
}

@media (min-width: 1024px) {

    .bienvenido {
        gap: 2rem;
        margin: 3rem 2rem;
    
        div {
            flex-direction: row;
            gap: 2rem;  
        }

        p {
            @include fontSize(1.2rem, 500);
        }
    }

    .staff {

        display: grid; 
        margin: 0rem 2rem;
        align-content: center;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr; 
        gap: 0rem 1rem; 
        grid-template-areas: 
            "staff_header staff_header staff_header"
            "staff_entrenador_uno staff_entrenador_dos staff_entrenador_tres";
       
        div {
            height: calc(100vh - 64vh);
            width: 100%;
            margin: 0rem;
        }

        img {
            width: 14rem;
        }

        p {
            @include fontSize(1.2rem, 500);
        }

        &_header {
            grid-area: staff_header; 
            margin-bottom: 2rem;
        }
    
        &_entrenador {

            &_uno {   
                grid-area: staff_entrenador_uno;
                background-image: url("../imagenes/staff_entrenador_uno_background_large.png"); 
   
                &:hover {
                    opacity: 0.8;                   
                }
            }
    
            &_dos {   
                grid-area: staff_entrenador_dos;
                background-image: url("../imagenes/staff_entrenador_dos_background_large.png"); 

                &:hover {
                    opacity: 0.8;    
                }
            }
    
            &_tres {  
                grid-area: staff_entrenador_tres;
                background-image: url("../imagenes/staff_entrenador_tres_background_large.png");

                &:hover {
                    opacity: 0.8;                   
                }
            }
        }
    }
}