* {
    font-family: $page_letter_font;
    margin: 0rem;
    padding: 0rem;
}

body {
    color: $page_letter_color;
    width: 100%;
    min-height: 100vh;
    background-color: $page_background_color;
}

p {
    margin: 0rem;
    @include fontSize(1.2rem, 500);
}
