header {
    margin: 0rem 3rem; 
}

.header {

    &_logo { 
        @include logoSize(8rem, 8rem);
    }

    &_icono_menu {
        background-color: $header_menu_button_background_color;
    }

    &_navegador_justify_content {
        justify-content: end;
    }
}

nav li {
    border-top: 1px solid;
}

.link {

    &_actual {
        @include fontSize(1.3rem, $page_letter_weight_link_selected);
        color: $header_actual_letter_color;
        background-color: white;
    }

    &_item {
        @include fontSize(1rem, $page_letter_weight_link);
        color: $page_letter_color;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {

    header {
        margin: 1rem 2rem; 
    }

    .header {

        &_logo { 
            @include logoSize(10rem, 10rem);
        }

        &_navegador_elements_gap {
            gap: 1rem;
        }
    }

    nav li {
        border-top: none;
    }

    .link {
        &_actual {
            @include fontSize(1.1rem, $page_letter_weight_link_selected);
            border-radius: 5rem;
        }
    }
}

@media (min-width: 1024px) {

    .header {

        &_logo { 
            @include logoSize(12rem, 12rem);
            cursor: url("../imagenes/guante.png"),auto;
        }

        &_navegador_elements_gap {
            gap: 2.5rem;
        }
    }

    nav li {
        border-top: none;
    }

    .link {

        &_actual {
            @include fontSize(1.3rem, $page_letter_weight_link_selected);
            border-radius: 5rem;
            cursor: url("../imagenes/guante.png"),auto;
        }
    
        &_item {
            @include fontSize(1.1rem, $page_letter_weight_link);
            cursor: url("../imagenes/guante.png"),auto;
            border-radius: 20rem;

            &:hover {
                background-color: white;
                color: black;
                border-radius: 20rem;
            }
        }
    }
}