$page_background_color: black;
$header_menu_button_background_color: white;
$page_letter_color: white;
$page_letter_font: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$page_letter_weight_link: 500;
$page_letter_weight_link_selected: 800;
$form_background_color: white;
$form_header_color: black;
$form_input_color: #d5d5d5;